doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        meta(property="og:type", content="website")
        meta(name="twitter:card", content="summary")

        if title
            title=title
            meta(property="og:title", content=title)

        if description
            meta(name="description", content=description)
            meta(property="og:description", content=description)

        if image
            meta(property="og:image", content=image)

        if url
            meta(property="og:url", content=url)

        if author
            meta(name="author", content=author)
        
        script(src="/js/app.bundle.js")

        script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        script.
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-2810659463174293",
                enable_page_level_ads: true
            });
        block head
    body
        header
            nav.blue.lighten-1.theme
                .nav-wrapper
                    a.brand-logo(href="/") ON Demand
                    a.button-collapse(href="#", data-activates="mobile-menu")
                        i.material-icons menu
                    ul.right.hide-on-med-and-down
                        li
                            a(href="#") test
                        li
                            a(href="/introduce") 자기소개
                        li
                            a.dropdown-button(href="/minecraft", data-activates="minecraft-nav") 
                                | Minecraft
                                i.material-icons.right arrow_drop_down
                            ul#minecraft-nav.dropdown-content
                                li
                                    a.blue-text.text-lighten-1(href="/minecraft/user") 유저 조회
                                li
                                    a.blue-text.text-lighten-1(href="/minecraft/history") History 조회
                                li
                                    a.blue-text.text-lighten-1(href="/minecraft/api") API Docs
                        li
                            a.dropdown-button(href="/dev", data-activates="dev-nav") 
                                | Dev
                                i.material-icons.right arrow_drop_down
                            ul#dev-nav.dropdown-content
                                li
                                    a.blue-text.text-lighten-1(href="/dev/gjmoribot") GJMoriBot
                        li
                            p(style="width: 1em")
                    ul.side-nav#mobile-menu
                        li
                            a(href="#") test
                        li
                            a.dropdown-button(href="/minecraft", data-activates="minecraft-side") 
                                | Minecraft
                                i.material-icons.right arrow_drop_down
                            ul#minecraft-side.dropdown-content
                                li
                                    a(href="/minecraft/user") 유저 조회
                                li
                                    a(href="/minecraft/history") History 조회
                                li
                                    a(href="/minecraft/api") API Docs
                        li
                            a.dropdown-button(href="/dev", data-activates="dev-side") 
                                | Dev
                                i.material-icons.right arrow_drop_down
                            ul#dev-side.dropdown-content
                                li
                                    a(href="/dev/gjmoribot") GJMoriBot
        .container#contents
            .ad
                <!-- On Demand-main -->
                ins.adsbygoogle(style="display:block", data-ad-client="ca-pub-2810659463174293", data-ad-slot="4386636415", data-ad-format="auto")
                script.
                    (adsbygoogle = window.adsbygoogle || []).push({});
                p google AD
            .row
                .col.s12.l1.push-l11
                    .sidebox
                        a(href="/donate")
                            <!-- Donate icon by Icons8 -->
                            img(src="https://png.icons8.com/donate/color/96", title="Donate", style="margin-top: 20px; margin-bottom: -20px")
                        block scrollspy
                .col.s12.l11.pull-l1(style="min-height: 400px;")
                    block content
            .ad(style="margin-top: -20px")
                <!-- On Demand-footer -->
                ins.adsbygoogle(style="display:block", data-ad-client="ca-pub-2810659463174293", data-ad-slot="9403901631", data-ad-format="auto")
                script.
                    (adsbygoogle = window.adsbygoogle || []).push({});
                p google AD
        footer.page-footer.blue.lighten-1.theme
            .container
                .row
                    .col.l6.s12
                        h5.white-text 사이트 안내
                        p.grey-text.text-lighten-4 
                            | 본 사이트는 
                            a.white-text(href="http://materializecss.com") Materialize
                            |  프레임워크를 사용하여 개발되었습니다.
                            br
                            | 본 사이트의 Donate icon은 
                            a.white-text(href="https://icons8.com") icons8.com
                            |  에서 제공받고 있습니다.
                    .col.l6.s12
                        h5.white-text 개발자 정보
                        p.grey-text.text-lighten-4 
                            i.fa.fa-envelope(aria-hidden="true")
                            |  email: 
                            a.grey-text.text-lighten-4.email(data-email="webmaster##mori.space")
                        p.grey-text.text-lighten-4 본 사이트는 이메일 무단 수집을 거부합니다.
            .footer-copyright
                .container
                    p © 2017. 볕뉘(small-sunshine) all rights reserved.
        block scripts